<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Type Name="颤振" Version="1.0">
  </Type>
  <AeroModels>
    <Bodys>
      <!-- 可以有多个Body -->
      <Body Name="asdf" ID="23345" Acoord="轴系统.2">
        <Acoord XORIGN="40" YORIGN="50" ZORIGN="10" DELTA="10" THETA="10" />
        <Segmeshs>
          <Segmesh Name="segment" IDMESH="50000" NRAD="8" FirstSegmesh="False" NOSERAD="" IAXIS="">
            <section Name="section1" ITYPE1="1" X1="12" CAM1="12" YR1="2" ZR1="" IDY1="" IDZ1="" />
            <section Name="section2" ITYPE1="3" X1="" CAM1="" YR1="" ZR1="" IDY1="" IDZ1="">
              <Points Type="1" Surface="" Plane="">
                <Point X="-20" Y="50" Z="-10" />
                <Point X="-11" Y="50" Z="-10" />
                <Point X="4" Y="50" Z="-10" />
                <Point X="7" Y="50" Z="-10" />
                <Point X="34" Y="50" Z="-10" />
                <Point X="40" Y="50" Z="-10" />
                <Point X="70" Y="50" Z="-10" />
                <Point X="80" Y="37.5" Z="-10" />
              </Points>
            </section>
          </Segmesh>
        </Segmeshs>
      </Body>
      <Body Name="rthsd" ID="23" Acoord="轴系统.2">
        <Acoord XORIGN="40" YORIGN="50" ZORIGN="10" DELTA="0" THETA="45" />
        <Segmeshs />
      </Body>
    </Bodys>
    <Aeros>
      <!-- 可以有多个气动面 -->
      <Aero Name="dfh" ID="23" ZTAICe="" Acoord="轴系统.2">
        <Acoord XORIGN="40" YORIGN="50" ZORIGN="10" DELTA="0" THETA="0" />
        <RootChord XRL="-40" YRL="0" ZRL="-10" RCH="82.4621125123532" ATTCHR="" />
        <TipChord XTL="-20" YTL="50" ZTL="-10" TCH="90" ATTCHT="" />
        <LSPAN value="equal" Point="4" />
        <LRCHD value="equal" Point="4" />
        <LTCHD value="equal" Point="4" />
        <Aerofoil PointNumber="15">
          <Root Rad="8" UpperName="草图.3" LowerName="相交.7">
            <Point Layer="上翼面" Order="1" X="10" Y="-50" Z="-30.3" />
            <Point Layer="上翼面" Order="2" X="10" Y="-43.39" Z="-29.6" />
            <Point Layer="上翼面" Order="3" X="10" Y="-37.09" Z="-27.47" />
            <Point Layer="上翼面" Order="4" X="10" Y="-31.48" Z="-23.92" />
            <Point Layer="上翼面" Order="5" X="10" Y="-26.85" Z="-19.15" />
            <Point Layer="上翼面" Order="6" X="10" Y="-23.38" Z="-13.49" />
            <Point Layer="上翼面" Order="7" X="10" Y="-21.23" Z="-7.2" />
            <Point Layer="上翼面" Order="8" X="10" Y="-20.53" Z="-0.59" />
            <Point Layer="上翼面" Order="9" X="10" Y="-21.34" Z="6" />
            <Point Layer="上翼面" Order="10" X="10" Y="-23.56" Z="12.27" />
            <Point Layer="上翼面" Order="11" X="10" Y="-27.06" Z="17.92" />
            <Point Layer="上翼面" Order="12" X="10" Y="-31.67" Z="22.7" />
            <Point Layer="上翼面" Order="13" X="10" Y="-37.23" Z="26.35" />
            <Point Layer="上翼面" Order="14" X="10" Y="-43.44" Z="28.71" />
            <Point Layer="上翼面" Order="15" X="10" Y="-50" Z="29.8" />
            <Point Layer="下翼面" Order="1" X="-90" Y="-50" Z="-30.28" />
            <Point Layer="下翼面" Order="2" X="-90" Y="-43.37" Z="-29.63" />
            <Point Layer="下翼面" Order="3" X="-90" Y="-37.06" Z="-27.51" />
            <Point Layer="下翼面" Order="4" X="-90" Y="-31.42" Z="-23.96" />
            <Point Layer="下翼面" Order="5" X="-90" Y="-26.75" Z="-19.21" />
            <Point Layer="下翼面" Order="6" X="-90" Y="-23.26" Z="-13.54" />
            <Point Layer="下翼面" Order="7" X="-90" Y="-21.13" Z="-7.24" />
            <Point Layer="下翼面" Order="8" X="-90" Y="-20.49" Z="-0.61" />
            <Point Layer="下翼面" Order="9" X="-90" Y="-21.36" Z="6" />
            <Point Layer="下翼面" Order="10" X="-90" Y="-23.61" Z="12.27" />
            <Point Layer="下翼面" Order="11" X="-90" Y="-27.09" Z="17.95" />
            <Point Layer="下翼面" Order="12" X="-90" Y="-31.67" Z="22.79" />
            <Point Layer="下翼面" Order="13" X="-90" Y="-37.2" Z="26.5" />
            <Point Layer="下翼面" Order="14" X="-90" Y="-43.42" Z="28.88" />
            <Point Layer="下翼面" Order="15" X="-90" Y="-50" Z="29.93" />
          </Root>
          <Tip Rad="8" UpperName="草图.2" LowerName="相交.7">
            <Point Layer="上翼面" Order="1" X="-140" Y="-50" Z="-30.27" />
            <Point Layer="上翼面" Order="2" X="-140" Y="-43.36" Z="-29.65" />
            <Point Layer="上翼面" Order="3" X="-140" Y="-37.04" Z="-27.54" />
            <Point Layer="上翼面" Order="4" X="-140" Y="-31.39" Z="-23.99" />
            <Point Layer="上翼面" Order="5" X="-140" Y="-26.7" Z="-19.25" />
            <Point Layer="上翼面" Order="6" X="-140" Y="-23.19" Z="-13.58" />
            <Point Layer="上翼面" Order="7" X="-140" Y="-21.08" Z="-7.25" />
            <Point Layer="上翼面" Order="8" X="-140" Y="-20.48" Z="-0.61" />
            <Point Layer="上翼面" Order="9" X="-140" Y="-21.37" Z="6" />
            <Point Layer="上翼面" Order="10" X="-140" Y="-23.63" Z="12.27" />
            <Point Layer="上翼面" Order="11" X="-140" Y="-27.1" Z="17.97" />
            <Point Layer="上翼面" Order="12" X="-140" Y="-31.67" Z="22.83" />
            <Point Layer="上翼面" Order="13" X="-140" Y="-37.18" Z="26.58" />
            <Point Layer="上翼面" Order="14" X="-140" Y="-43.41" Z="28.97" />
            <Point Layer="上翼面" Order="15" X="-140" Y="-50" Z="30" />
            <Point Layer="下翼面" Order="1" X="-90" Y="-50" Z="-30.28" />
            <Point Layer="下翼面" Order="2" X="-90" Y="-43.37" Z="-29.63" />
            <Point Layer="下翼面" Order="3" X="-90" Y="-37.06" Z="-27.51" />
            <Point Layer="下翼面" Order="4" X="-90" Y="-31.42" Z="-23.96" />
            <Point Layer="下翼面" Order="5" X="-90" Y="-26.75" Z="-19.21" />
            <Point Layer="下翼面" Order="6" X="-90" Y="-23.26" Z="-13.54" />
            <Point Layer="下翼面" Order="7" X="-90" Y="-21.13" Z="-7.24" />
            <Point Layer="下翼面" Order="8" X="-90" Y="-20.49" Z="-0.61" />
            <Point Layer="下翼面" Order="9" X="-90" Y="-21.36" Z="6" />
            <Point Layer="下翼面" Order="10" X="-90" Y="-23.61" Z="12.27" />
            <Point Layer="下翼面" Order="11" X="-90" Y="-27.09" Z="17.95" />
            <Point Layer="下翼面" Order="12" X="-90" Y="-31.67" Z="22.79" />
            <Point Layer="下翼面" Order="13" X="-90" Y="-37.2" Z="26.5" />
            <Point Layer="下翼面" Order="14" X="-90" Y="-43.42" Z="28.88" />
            <Point Layer="下翼面" Order="15" X="-90" Y="-50" Z="29.93" />
          </Tip>
        </Aerofoil>
      </Aero>
    </Aeros>
  </AeroModels>
  <Splines>
    <Spline Name="1" Type="SPLINE1 or  SPLINE3" DZ="0.0" EPS="0.01">
      <!-- 插值气动面定义。可以是通过名字描述的整个气动面；或者通过一个气动面的名字以及气动面的单元编号描述 -->
      <AeroDefine Type="whole or part">
        <AeroName>body</AeroName>
        <AeroList>30001,30002,30003</AeroList>
      </AeroDefine>
      <!-- 通过有限元节点列表，定义插值节点-->
      <NodeDefine Type="List">23,34,45</NodeDefine>
    </Spline>
    <Spline Name="2" Type="SPLINE1 or  SPLINE3" DZ="0.0" EPS="0.01">
      <AeroDefine Type="whole or part">
        <AeroName>body</AeroName>
        <AeroList>30001,30002,30003</AeroList>
      </AeroDefine>
      <NodeDefine Type="List">23,34,45</NodeDefine>
    </Spline>
  </Splines>
  <Flutters>
    <Feature Name="EIGC">
      <EIGC SID="" METHOD="" NORM="" G="" C="" E="" ND0="">
      </EIGC>
      <EIGR SID="" METHOD="" F1="" F2="" NE="" ND="" NORM="" G="" C="">
      </EIGR>
    </Feature>
    <AeroParam>
      <AERO ACSID="" VELOCITY="" REFC="" RHOREF="" SYMXZ="" SYMXY="">
      </AERO>
      <MKAERO1>
        <M M1="" M2="" M3="" M4="" M5="" M6="" M7="" M8="">
        </M>
        <K K1="" K2="" K3="" K4="" K5="" K6="" K7="" K8="">
        </K>
      </MKAERO1>
    </AeroParam>
    <Flutter SID="" METHOD="" DENS="" MACH="" RFREQ="" IMETH="" NVALUE="" EPS="">
    </Flutter>
  </Flutters>
</configuration>